[submodule "themes/replica"]
	path = themes/replica
	url = https://github.com/sabrinaluo/hexo-theme-replica.git
[submodule "themes/hueman"]
	path = themes/hueman
	url = https://github.com/ehrudxo/hexo-theme-hueman.git
